<div>
  <form [formGroup]="loginform" action="">
    <mat-form-field>
      <mat-label for="account">帳號</mat-label>
      <input matInput id="account" formControlName="account" type="text">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label for="password">密碼</mat-label>
      <input matInput id="password" formControlName="password" type="password">
    </mat-form-field><br>
    <button mat-raised-button color="primary"
    [disabled]="loginform.invalid" (click)="login()" routerLink="/membercenter">
    登入</button>
  </form>
  <button mat-raised-button color="warn" routerLink="/register">註冊</button>
</div>
